body{
	background-color:white;
}

#divTop{
	clear:both; 
	float:left;
	width:100%;
}

#divTopLeft{
	display:block; 
	width: 100%;
	background-color: #983030; 
	clear:both; 
	float:left;
}

#divMenuPrincipal{
	display:block; 
	width: 200px;
	text-align: left;
	background-color: #708e8b; 
	padding-left: 10px;
	float:right;
}

h1#tituloApp{
	float: left;
}

#chart_div{
	clear:both; 
	float:left;
	width:100%;
	height:50%;
}